#hmmsp-mobile_menu {
  margin: 20px 0;
}

#hmmsp-mobile_menu label {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
}

#hmmsp-mobile_menu input[type=checkbox] {
  position: relative;
  margin-top: 10px;
  width: 1.5em;
  height: 1.5em;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

#hmmsp-mobile_menu input[type=checkbox]::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

#hmmsp-mobile_menu input[type=checkbox]:checked {
  color: #fff;
  border-color: #ff4961;
  background: #ff4961;
}

#hmmsp-mobile_menu input[type=checkbox]:checked::before {
  opacity: 1;
}


#hide_mobile_menu_specific_pages h2 {
  background-color: #ff4961;
  color: #fff;
  font-size: 18px;
}

#hide_mobile_menu_specific_pages .toggle-indicator {
  color: #fff !important;
}

#hmmsp-mobile_menu .field {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}